@media screen and (max-width:576px) {
    .w-100{
        width: 70% !important;
    }
    .career_heading{
        font-size: 15px;
    }
    .card{
        width: 51%;
    }
}
@media screen and (min-width:576px) {
    .career_heading{
        font-size: 18px;
    }

}
@media screen and (min-width:768px) {

    .career_vector1{
        position:relative;
         top:93%
    }
    .career_heading{
        font-size: 20px;
    }
    .card{
        width: 35%;
    }
}

@media screen and (min-width:992px) {
    .card{
        width: 25%;
    }
}


