<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home Page</title>
    <link rel="icon" type="image/x-icon" href="../../public/img/Icons8-Ios7-Weather-Partly-Cloudy-Rain.512.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div id="text-content">
        {{> header}}

        <form>
            <input >
            <button>search</button>
        </form>

        <b><p id="message1"></p>
        <p id="message2"></p></b>
        <p id="message3"></p>
    </div>
    {{> footer}}


    <script src="/js/index.js"></script>
</body>

</html>