@media screen and (max-width:576px) {
    .manual_test_img1{
        width: 70%;
    }
    .para_content{
        font-size: 13px;
    }
    .manual_test_vector2{
        position:absolute;
        bottom:-3%
    }
    .manual_test_dev{
        font-size: 13px;
    }
    .manual_test_dev_heading{
        font-size: 17px;
    }
    .manual_test_dev>div>img{
        width: 25%;
    }

}
@media screen and (min-width:576px) {
    .para_content{
        font-size: 15px;
    }

    .manual_test_vector2{
        position:absolute;
        bottom:-5%
    }
    .manual_test_dev_heading{
        font-size: 22px;
    }
    .manual_test_dev>div>img{
        width: 45%;
    }
}
@media screen and (min-width:768px) {
    .para_content{
        font-size: 16px;
    }

    .manual_test_vector1{
        position:absolute;
         top:79%
    }
    .manual_test_vector2{
        position:absolute;
        bottom:-7%
    }
    .manual_test_dev_heading{
        font-size: 25px;
    }
    .manual_test_dev>div>img{
        width: 50%;
    }
    .mt-5rem{
        margin-top: 10% !important;
    }

}

@media screen and (min-width:992px) {
    .manual_test_vector2{
        position:absolute;
        bottom:-16%
    }
    .manual_test_img1{
        margin-top: 0%;
    }

}

@media screen and (min-width:1200px) {
    .manual_test_vector2{
        position:absolute;
        bottom:-18%
    }
}
